body{
    background-color: #fff
}
ul, ol, li,
dl, dt, dd,
h1, h2, h3, h4, h5,
p {
 margin: 0;
 padding: 0;
 list-style: none;
}
img{max-width: 100%;height:auto;}
*, :active, :focus {
    outline: 0!important;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.breadcrumb-container {
    padding: 20px 0;
    background: #f2f2f2;
}
div {
    display: block;
}
.tbl-cart {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 15px;
}
.tbl-cart th {
	font-size: 14px;
	font-weight: normal;
	color: #919191;
	text-align: center;
}
.tbl-cart td {
	position: relative;
	vertical-align: middle;
	height: 80px;
	padding: 0 10px;
	background: #f2f2f2;
	color: #1f1f1f;
}
.tbl-cart td > * {
	display: inline-block;
	vertical-align: middle;
}
.tbl-cart td:not(:last-child):after {
	position: absolute;
	top: 20%;
	right: 0;
	content: ' ';
	width: 1px;
	height: 60%;
	background: #c8c8c8;
}
.tbl-cart td:not(:first-child) {
	text-align: center;
}
.tbl-cart td:first-child {
	padding-left: 0;
}
.tbl-cart .entry-thumbnail {
	width: 60px;
}
.tbl-cart .entry-title {
	margin-left: 1.25em;
}

.shopcart-total {
	width: 290px;
	float: right;
	background: #f2f2f2;
	padding: 1.5em;
	margin-bottom: 60px;
}
.pull-right {
    float: right!important;
}
div span{
	border: 0;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0
}
.uppercase {
    text-transform: uppercase;
}
.btn-round {
    border-radius: 1.25em;
}

.btn-car {
    background: #1f1f1f;
    color: #fff;
}
.text-center {
    text-align: center;
}
.text-sm, .text-xs {
    line-height: 1.75;
}
.text-xs {
    font-size: .875em;
}
.m-b-sm {
    margin-bottom: 10px;
}
.text-bold {
    font-weight: 700;
}
.m-b-lg {
    margin-bottom: 40px;
}

.panel-default>.panel-heading {
    color: #919191;
    background: #f2f2f2;
}

.panel-default>.panel-heading {
    border-color: #ddd;
}

.panel-group .panel-heading {
    border-bottom: 0;
}

.panel-heading {
    border-radius: 1px 1px 0 0;
    padding: .5em 1em;
}

.panel-heading {
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}


.panel-default>.panel-heading+.panel-collapse .panel-body {
    border-top-color: #ddd;
}
.panel-group .panel-heading+.panel-collapse .panel-body {
    border-top: 1px solid #ddd;
}
.checkout {
	margin: 25px auto;
}
.checkout .stylish-input input[type="text"],
.checkout .stylish-input input[type="password"],
.checkout .stylish-input input[type="email"],
.checkout .stylish-input input[type="tel"],
.checkout .stylish-input select,
.checkout .stylish-input textarea {
	height: 26px;
}
.checkout .panel-body {
	padding: 20px;
	border: 1px solid #f2f2f2;
	border-top: 0 !important;
	background: #e3e3e3;
	font-size: 12px;
	color: #1f1f1f;
}
.checkout legend {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.checkout fieldset > .inner {
	padding: 15px;

}
.panel-title .step {
    display: inline-block;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-color: #e3e3e3;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    margin-right: 0.5em;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.btn-primary {
    background: #fa6f57;
}
.btn-primary:hover {
    background: #f9654c;
}
.form-horizontal .control-label {
    text-align: right;
}
.panel-collapse{
    background-color: #fff;
}
#checkout-collapse3{
    background-color: #fff;
}
.checkout .panel-body {
    padding: 20px;
    border: 1px solid #f2f2f2;
    border-top: 0 !important;
   /*  background: #e3e3e3; */
    font-size: 12px;
    color: #1f1f1f;
}
#order{
	margin-bottom: 40px;
}
.btn-primary{
    box-shadow: inset 0 2px 4px rgba(0,0,0,.1);
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1);
}


.btn {
    font-size: 14px;
    padding: .5em 1em;
    border: 0;
    border-radius: 2px;
    position: relative;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.btn-round{border-radius:1.25em}
.product-preview { 
    position: relative;
    overflow: hidden;
    zoom: 1;
}
.product-preview .big-image {
    margin-right: 104px;
    overflow: hidden;
    zoom: 1;
}
.product-preview .thumbs {
    position: absolute;
    top: 0;
    right: 0;
}
.product-preview .thumbs > li {
    margin-top: 20px;
}
.product-preview .thumbs > li:first-child {
    margin-top: 0;
}
.product-preview .thumbs > li > a {
    display: block;
    width: 84px;
    height: 84px;
    border: 3px solid #919191;
    border-radius: 50%;
    overflow: hidden;
}
.product-preview .thumbs > li > a:hover {
    border-color: #fa6f57;
}


.product-details {
    margin-left: 30px;
}
.product-details .entry-title {
    margin: 0 0 5px;
}
.product-details .subheader {
    font-size: 0.925em;
    font-weight: 600;
    margin: 10px 0;
}
.product-details .entry-title,
.product-details .subheader,
.product-details a:not(.btn) {
    color: #1f1f1f;
}
.product-details a:not(.btn):hover {
    color: #fa6f57;
}
.product-details .entry-content {
    font-size: 12px;
}
.product-details .entry-content p {
    color: #919191;
    line-height: 2;
}
.product-details .entry-price {
    margin-right: 30px;
    font-size: 2em;
    font-weight: bold;
    color: #fa6f57;
}
.product-details .entry-review-count {
    color: #919191;
    font-size: 0.925em;
    margin-left: 5px;
}
.product-details .entry-meta {
    margin: 15px 0;
}
.product-details .entry-meta > li {
    margin-top: 4px;
}
.product-details .entry-meta > li:first-child {
    margin-top: 0;
}
.product-details .entry-meta li > * {
    display: inline-block;
    vertical-align: middle;
}
.product-details .entry-meta .key {
    width: 100px;
}
.product-details .entry-meta .value {
    color: #fa6f57;
}
.product-details .styled-dd {
    width: 220px;
}
.product-details .styled-dd select {
    width: 250px;
    font-size: 12px;
    padding: 0.5em 1.5em;
}

.comments-list {
    color: #1f1f1f; /* This is to force disqus load light theme appearance */
}

.bc {
    font-size: 12px;
}
.bc.push-up {
    position: absolute;
    top: 0;
    left: 0;
}
.bc > li {
    float: left;
    margin-left: 1em;
    color: #919191;
}
.bc > li:before {
    content: '/';
    margin-right: 1em;
}
.bc > li:first-child {
    margin-left: 0;
}
.bc > li:first-child:before {
    content: none;
}
.bc a {
    color: #919191;
}
.bc a:hover {
    color: #FA6F57;
}
.bc .active {
    color: #1f1f1f;
}
.info{
    margin-bottom: 40px;
}
.section {
    padding: 50px 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block;
}
/*persion-myorder*/
.myOrders{
    font-size: 16px;background-color: #f7f7f7;padding: 10px;color: #777
}
.orderShop{
    margin-top: 10px;
}
.myNu{
    margin-top: 10px;background-color: #f7f7f7;color: #777;font-size: 14px;padding: 8px;
}
.money{
    font-size: 18px;color: #ee394b;
}
.wait{
    display: block;
}

.product-preview .thumbs > li > a {
    display: block;
    width: 100% !important;
    /*height:auto !important;*/
}