body {
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  background-color: #e7e7e7;
}
a{
  text-decoration:none;
}

/* 头部区域 */
@media(min-width: 768px){

  #header{
  height: 60px;
  line-height: 60px;
  margin-bottom: 40px;

}
.navbar-custom {
  background-color: #f8f8f8;
  border-color: #e7e7e7;

}
.navbar-custom .navbar-brand {
  color: #777;
  height: 60px;
  line-height: 60px;
   font-size: 18px;
  color: #f40;
}
.navbar-custom .navbar-nav > li > a {
  line-height: 60px;
  color: #777;
   font-size: 18px;
  color: #f40;
}
}
#header{
  height: 52px;
}

.navbar-custom {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.navbar-custom .navbar-brand {
  color: #777;
}
.navbar-custom .navbar-nav > li > a {
  color: #777;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #777;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #ddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #e7e7e7;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
 
}
@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #777;
}
.navbar-custom .navbar-link:hover {
  color: #333;
}
.navbar-custom .btn-link {
  color: #777;
}
.navbar-custom .btn-link:hover,
.navbar-custom .btn-link:focus {
  color: #333;
}
.navbar-custom .btn-link[disabled]:hover,
fieldset[disabled] .navbar-custom .btn-link:hover,
.navbar-custom .btn-link[disabled]:focus,
fieldset[disabled] .navbar-custom .btn-link:focus {
  color: #ccc;
}

/*轮播图*/

#main_ad {
  border-bottom: 2px solid #c0c0c0;

}

#main_ad > .carousel-inner > .item {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


/* 当屏幕宽度大于768时，将元素高度设置为410px */

@media (min-width: 768px) {
  #main_ad > .carousel-inner > .item {
    height: 410px;
  }
}

#main_ad > .carousel-inner > .item > img {
  width: 100%;
}

/*下边按钮组*/
#btns{
  border-bottom: 1px solid #c0c0c0;
}
.container-btn{
  
}
.btn-img{
  width:90px;
  height:50px;
  border-radius:90px;
  border:solid #ff4400 1px;
  margin:30px auto;
  line-height: 50px;
  font-size: 30px;
  color: #ff4400;
}

@media (min-width: 768px) {
  .btn-img {
    width:200px;
    height:100px;
    /* border-radius:100px; */
    border:solid #ff4400 1px;
    margin:50px auto;
    line-height: 97px;
    font-size: 60px;
    color: #ff4400;
  }
}
@media (min-width: 768px) {
  .btn-img >span{
    line-height: 90px;
  }
}
.btn-p{
  font-size: 16px;
  margin-top: -13px;
}
@media (min-width: 768px) {
 .btn-p{
  font-size: 16px;
  margin-top: -25px;
}
}
.row>div>a:hover{
  text-decoration: none;
}
.row>div>a>div:hover{
 background-color: #FF6600;
 color: #ffffff;
}
.row>div>a>div>p{
  color:#ff4400;
}


/*卡*/
#hot{
  margin-bottom: 20px;
  background: #f0f0f0;
}
#hot > .container-fluid > .ul-wapper > .nav-tabs {
  padding-left: 20px; 
}

#hot > .container-fluid > .ul-wapper > .nav-tabs > li {}

#hot > .container-fluid > .ul-wapper > .nav-tabs > li > a {
  font-size: 16px;
  color: #333;
}

#hot > .container-fluid > .ul-wapper > .nav-tabs > li > a:hover {
  border-color: transparent;
  background-color: transparent;
  color: #000;
}

#hot > .container-fluid > .ul-wapper > .nav-tabs > li.active {}

#hot > .container-fluid > .ul-wapper > .nav-tabs > li.active > a {
  background-color: transparent;
  border: 0;
  border-bottom: 4px solid #e92322;
}

#hot > .container-fluid > .tab-content {
  margin-top: 20px;
  padding: 20px 0;
}



/*热门区*/
#row-hot>div>div>panel-heading>img{
    
}



/*移动端底部*/
#move>nav>div>ul>li>a{
  color: #666;
}
#move>nav>div>ul>li>a:hover,active{
color: red;
}
/*pc端底部*/
footer{
  margin-top: -20px;
  height: 170px;
  background: #e9e7ef;
  margin-bottom: 0px;
}
footer>.top{
  background-color: #CCCCCC;
}



/*买的页面*/

#buy{
  margin-bottom: 40px;
  background: #f0f0f0;
}
#buy > .container-fluid > .ul-wapper > .nav-tabs {
  padding-left: 20px;
  margin-top: 20px;
  line-height: 20px;
}

#buy > .container-fluid > .ul-wapper > .nav-tabs > li {}

#buy > .container-fluid > .ul-wapper > .nav-tabs > li > a {
  font-size: 16px;
  color: #333;
}

#buy > .container-fluid > .ul-wapper > .nav-tabs > li > a:hover {
  border-color: transparent;
  background-color: transparent;
  color: #000;
}

#buy > .container-fluid > .ul-wapper > .nav-tabs > li.active {}

#buy > .container-fluid > .ul-wapper > .nav-tabs > li.active > a {
  background-color: transparent;
  border: 0;
  border-bottom: 4px solid #e92322;
}

#buy > .container-fluid > .tab-content {
  margin-top: 20px;
  padding: 20px 0;
}





/*购物车*/

#top{
  margin-top: 30px;

}

#top>.container{
    height: 90px;
    /* border: 1px solid red; */
    background-color: white;
}

#top>.container>.row>div>h3{
  line-height: 90px;
}


#option{
  margin-top: 20px;
  font-size: 16px;
}
#option>.container{
    height: 60px;
}

#option>.container>.row>div{
  line-height:60px;
  /* background-color: white */
}
#option>.container>.row>div>div>label{
 margin-top: -15px;
}

#car{
  margin-top: 20px;
}
#car>.container{
  background-color: #fff;
  font-size: 14px;
}
#car>.container>.row{
  margin:15px 0px;
}
@media (min-width: 768px) {
 #car>.container>{
    /* border: 1px solid red; */
    background-color: #fff;
}
#car>.container>.row>div{

  font-size: 16px;
}
#car>.container>.row>div>span{

  line-height:100%;
  font-size: 16px;
}
}

#to_pay{
  margin-top: 20px;
  font-size: 16px;
  margin-bottom: 20px;
}
#to_pay>.container{
    height: 60px;
}

#to_pay>.container>.row>div{
  line-height:60px;
  /* background-color: white */
}
#to_pay>.container>.row>div>div>label{
 margin-top: -15px;
}



.footer{text-align:center; background-color:#D4D4D4; line-height:24px; padding:50px 0;}
.footer i{font-style:normal; margin:0 5px; }
.footer a{color:#000;}
.footer a:hover{color:#F60;text-decoration: none;}
.web{padding-top:30px;}
.web img{margin:0 12px;}
.hr_25{height:25px;}
.hr_45{height:45px;}
.hr_7{height:7px; overflow:hidden;}
.hr_15{height:15px; overflow:hidden;}

