body{
  font-family:"Microsoft yahei";

}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, legend, button, input, textarea, form, th, td {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
div {
    display: block;
}
@media(min-width: 768px){

  #header{
  height: 80px;
  line-height: 80px;
  margin-bottom: 80px;

}
.navbar-custom {
  background-color: #f8f8f8;
  border-color: #e7e7e7;

}
.navbar-custom .navbar-brand {
  color: #777;
  height: 80px;
  line-height: 80px;
   font-size: 18px;
  color: #f40;
}
.navbar-custom .navbar-nav > li > a {
  line-height: 80px;
  color: #777;
   font-size: 18px;
  color: #f40;
}
}
#header{
  height: 52px;
}

.navbar-custom {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.navbar-custom .navbar-brand {
  color: #777;
}
.navbar-custom .navbar-nav > li > a {
  color: #777;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #777;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #ddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #e7e7e7;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #777;
}
.navbar-custom .navbar-link:hover {
  color: #333;
}
.navbar-custom .btn-link {
  color: #777;
}
.navbar-custom .btn-link:hover,
.navbar-custom .btn-link:focus {
  color: #333;
}
.navbar-custom .btn-link[disabled]:hover,
fieldset[disabled] .navbar-custom .btn-link:hover,
.navbar-custom .btn-link[disabled]:focus,
fieldset[disabled] .navbar-custom .btn-link:focus {
  color: #ccc;
}



div{
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

div {
    display: block;
}
.mod-progressBar {
    width: 386px;
}
.fr {
    float: right;
    display: inline;
}
.step_txtList {
  
    color: #999;
    margin: 0px;
    padding: 0px;
}
.stepBar {
    margin-top: 35px;
    background-image: url(../img/def_grey_step.png);
    background-repeat: no-repeat;
    height: 30px;
    position: relative;
    z-index: 0;

}

.nonceStep {
    height: 30px;
    background-image: url(../img/sel_red_step.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    z-index: 5;
}
.pastStep {
    height: 30px;
    background-image: url(../img/sel_pink_step.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    z-index: 10;
}

.mod-progressBar .step_1 li:nth-child(1) {
    color: #ff7b7e;
    font-size: 15px;
}
.step_1 .nonceStep {
    width: 25%;
}
.c-3c {
    color: #3c3c3c;
}


.step_1 .nonceStep {
    width: 25%;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.step_txtList li {
    float: left;
    width: 96px;
    text-align: center;
    font-size: 14px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
}
ul, ol {
    list-style: none outside none;
}
ul .step_txtList{
  width: 386px;
  height: 47px;
}

.step_txtList {
    padding-top: 10px;
    color: #999;
}

/*移动端底部*/
#move>nav>div>ul>li>a{
  color: #666;
}
#move>nav>div>ul>li>a:hover,active{
color: red;
}
/*pc端底部*/
footer{
  margin-top: -20px;
  height: 200px;
  background: #e9e7ef;
  margin-bottom: 0px;
}
footer>.top{
  height: 80%;
  background-color: #CCCCCC;
}

.mod-progressBar .step_2 li:nth-child(2) {
    color: #ff7b7e;
    font-size: 15px;
}
.step_2 .nonceStep {
    width: 50%;
}
.mod-progressBar .step_2 li:nth-child(1) {
    color: #ffb6b7;
    font-size: 14px;
}
.step_2 .pastStep {
    width: 25%;
}
.order_go {
    border: 2px solid #ee394b;
    padding: 19px 18px 18px 32px;
    float: right;
    text-align: right;
}

.point-in {
    position: relative;
    _margin-bottom: 5px;
}
.point_ul li {
    line-height: 24px;
}
.addrConfirm_title {
    color: #666;
    font-weight: bold;
}
address, cite, dfn, em, var, i {
    font-style: normal;
}

.footer{text-align:center; background-color:#D4D4D4; line-height:24px; padding:50px 0;}
.footer i{font-style:normal; margin:0 5px; }
.footer a{color:#000;}
.footer a:hover{color:#F60;text-decoration: none;}
.web{padding-top:30px;}
.web img{margin:0 12px;}
.hr_25{height:25px;}
.hr_45{height:45px;}
.hr_7{height:7px; overflow:hidden;}
.hr_15{height:15px; overflow:hidden;}
